.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 15px;
}
#delete-form {
  display: inline;
}
.delete-form {
  display: inline;
}
#map {
  height: 400px;
  width: 100%;
}
.profile{
  width: 200px;
  height: 200px;
  border-radius: 70%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 45%;
  margin: auto;
  text-align: center;3
}
h1 {
  color: black;
}
.user-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 15px;
  color: white;
  background-color: #000;
  width: 100%;
}
button:hover {
  opacity: 0.7;
}
.fa-twitter {
  padding: 10px;
}
.fa-facebook {
  padding: 10px;
}
